@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');

body{
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
    background-color: #FFCAC8;
}
header{
    margin: 0;
    padding: 0px;
}
.title{
    padding: 1px;
    font-size: 35px;
    color: #FF0032;
    text-shadow: 2px 2px 4px #B3FFAE;
    text-decoration: underline;
    padding: 20px 30px 0 30px;
}
.heading{
    
    background-image: url('/images/background.jpg.jpg');
    background-size: cover;
    background-repeat: none;
    height: 200px;
    width: 600px;
    margin: 0 auto;
    padding: 1px;
}
.heading-para{
    font-size: 20px;
    color: #FFFF00;
    text-shadow: 2px 2px 4px #000;
    padding: 0 30px 30px 30px;
}

/*Main */
main{
    background-color: #f5f5f5;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 1px;
}
.container-title{ 
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
}
.discount{
    font-size: 1.2rem;
    color: #DC0000;
}
#container{
    padding: 5px;
    display: flex;
    margin: 20px 5px;
    margin-bottom: 2px solid #000;
}
.food-img{
    box-shadow: 3px 3px 4px #000;
    width: 200px;
    border-radius: 8px;
}
.food-container{
    text-align: start;
    margin-left: 20px;
    width: 250px;
}
.dish-name{
    color: #DC0000;
    font-weight: bold;
    font-size: 20px;
}
.price{
    text-shadow: 2px 2px 3px #D8D9CF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.btnBuy{
    cursor: pointer;
    width: 60px;
    font-size: 35px;
    border: none;
    border-radius: 6px;
    padding: 8px 0px;
    color: #f5f5f5;
    background-color: #DC0000;
    margin: 2px;
}
.btnBuy:hover{
    background-color: #f5f5f5;
    color: #DC0000;
    border: 1px solid #DC0000;
}
.btnBuy:active{
    box-shadow: 3px 3px 6px #000;
}
.buy{
    margin: auto;
    width: 150px;
}


/*Order*/
.order{
    margin: 30px 0;
    width: 600px;
}
.order-quantity{
    margin: 0 auto;
    width: 500px;
    border-top: 2px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.order-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.remove-btn{
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: none;
    font-size: 10px;
}
.remove-btn:hover{
    text-decoration: underline;
}
#quantity{
    color: #DC0000;
    font-weight: bold   ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#total{
    margin: 15px 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DC0000;
    font-weight: bold   ;
}
.complete-order{
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 500px;
    color: #f5f5f5;
    background-color: #DC0000;
}
.complete-order:hover{
    color: #DC0000;
    background-color: #f5f5f5;
    border: 1px solid #DC0000;
}
.complete-order:active{
    box-shadow: 3px 3px 6px #DC0000;
}

.Total{
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
}
.price-total{
    font-size: 20px;
    font-weight: bold;
}
.final-message{
    display: none;
}
.modal{
    box-shadow: 2px 2px 6px #DC0000;
    display: none;
    position: fixed;
    height: 200px;
    background-color: #FFCAC8;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 10px;
    margin: 0 auto;
    border: 4px solid #DC0000;
    width: 400px;
    border-radius: 8px;
}
.form{
    border: 3px solid #DC0000;
    border-radius: 6px;
    margin: 8px auto;
    padding: 10px 20px;
    width: 80%;
    display: block;
}
#paymentButton{
    width: 80%;
}